html{
	background-color:rgb(221,230,213);
}

#top a:link{
	text-decoration:none;
	color:black;
}

#top a:visited{
	text-decoration:none;
	color:black;
}


body{
	padding:0px;
	margin:0px 0px;
}

h1 {
	
	margin-top: 0px;
	text-align: center;
	font-family: "JetBrains Mono", monospace;
	font-size:50px;
}


#top{
	background-color:rgb(221,230,213);
	width:100%;
	padding: 20px 0;
	text-align: center;
	
}

	
footer{
	background-color: rgb(221,230,213);
	width:100%;
	
}

#select{
	background-color: rgb(252,238,233);
	width:100%;
	height:800px;	
	margin-bottom:0px;
	padding-bottom:0px;
}



#about{
	margin-top:0px;
	padding-top:0px;
	vertical-align:top;
	width:100%;
	height:200px;
	background-color: rgb(252,238,233);
}

#about > h2{
	padding-top:30px;
	text-align:center;
	margin-top:0px;
}

.icon{
	display:inline-block;
	vertical-align:middle;
	height:25px;
	width:25px;
	
}

.itemRow{
	height:150px;
	width:fit-content;
	padding-top:50px;

}


.itemLeft{
	display:inline-block;
	height:150px;
	width:300px;
	margin-left:100px;
}

.itemMiddle {
	position:relative;
	top:0px;
	left:50%;
	transform:translateX(-50%);
	display: inline-block;
	margin-left:auto;
	margin-right:auto;

	height:150px;
	width:300px;
}



.thumbnail{
	display:inline-block;
	height:150px;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	border-radius:25px;
}

.iconDiv{

	padding-left:50px;
	margin-top:5px;
	margin-bottom:5px;
	
}

.iconText{
	display:inline;
	text-align:center;
	margin-top:auto;
	padding-bottom:3px;
	vertical-align:middle;
}

footer p{
	font-family: "JetBrains Mono", monospace;
}

footer a:link{
	color:black;
	text-decoration:none;
}

footer a:visited {
	color: black;
}

footer a:hover{
	color:white;
}



hr {
	color: black;
	padding:0px;
	margin:0px;
}